build/
classes/
target/
out/
bin/
.gradle/
.settings/
.classpath
.project
*.iml
*.ipr
*.iws
itest.properties
!overthere/src/test/resources/itest.properties
.idea
*.log
test-output
.DS_Store
overthere/.DS_Store